* {
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: 'hello honey';
    src: url(../fontes/hello\ honey.otf) format(opentype);
    font-weight: normal;
    font-style: normal;
}
.logotipo {
    text-align: center;
    font-family: 'hello honey';
}

.logoimagem {
    width: 250px;
    height: 250px;
    margin: 20px;
}

.logo {
    color: #E25457;
    font-size: 150px;
    margin: 5px 0px 0px 0px;
    height: 100%;
}

.subtitulo {
    color: #6A7746;
    font-size: 50px; 
    margin: 0px 0px 30px 0px;
}

.coluna {
    justify-content: center;
    display: flex;
}

.produto {
    margin: 30px 30px 10px 30px;
}

.nome-produto {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 22px;
    margin: 10px 0px 0px 0px;
    color: #E25457;
}

.preco-produto {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    margin: 5px 0px;
    color: #6A7746;
}

.imagem {
    width: 350px
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 12vh;
    width: 100%;
    margin: 100px 0px 0px 0px;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
}

#instagram {
    margin: 0px 0px 0px 10px;
    width: 30px;
}